* {
    box-sizing: border-box;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 480px;
}

.square {
    border: 1px solid black;
}

.hover {
    background-color: gray;
}

.painted {
    background-color: black;
}

.grid-size-input {
    display: flex;
    margin: 36px;
    gap: 12px;
}